.article-header {
  background-color: #5a0699;
  color: #fff;
  border: 3px solid transparent;
  text-align: center;
}

.section-content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
}

.add-employee-btn {
  float: right;
  margin-bottom: 5px;

  color: #fff;
  background-color: #5a0699;
  border: 0;
}
